body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: white;
}

th,
td {
    padding: 12px 15px;
    border-bottom: 1px solid white;
}